<form (submit)="handleSubmit()" #form="ngForm">
    <label>Delete</label>
    <input #libelle="ngModel" required name="id" type="number" [(ngModel)]="module.id"/>
    <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">Invalid</span><br>
    <button [disabled]="form.invalid">Supprimer</button>
</form>