<form (submit)="handleSubmit()" #form="ngForm">
    <label>Recherche par id</label>
    <input #libelle="ngModel" name="id" type="number" [(ngModel)]="module.id"/>
    <input #libelle="ngModel" name="libelle" type="text" [(ngModel)]="module.libelle"/>
    <button [disabled]="form.invalid">Afficher</button>
</form>

<div>{{ module.libelle }}</div>

<ul *ngFor="let module of modules" >
    <li><a [routerLink]="['/module/affichage', module.id]" routerLinkActive="active">{{ module.libelle }}</a></li>
</ul>