<form (submit)="handleSubmit()" #form="ngForm">
    <label>Create</label>
    <input #libelle="ngModel" required minlength="2" name="libelle" type="text" [(ngModel)]="module.libelle"/>
    <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">Invalid</span><br>
    <button [disabled]="form.invalid">Enregistrer</button>
</form>