<form (submit)="handleSubmit()" #form="ngForm">
    <label>Recherche par id</label>
    <input #libelle="ngModel" name="id" type="number" [(ngModel)]="filiere.id"/>
    <input #libelle="ngModel" name="libelle" type="text" [(ngModel)]="filiere.libelle"/>
    <button [disabled]="form.invalid">Afficher</button>
</form>

<div *ngIf="filiere.id != 0">La filière avec cet id est : {{ filiere.libelle }}</div>
<br>
<p>Liste des filières :</p>
<ul *ngFor="let filiere of filieres" >
    <li><a [routerLink]="['/filiere/affichage', filiere.id]" routerLinkActive="active">{{ filiere.libelle }}</a></li>
</ul>