<div>
    <h3>Libellé de la filière : {{ filiereSelected.libelle  }}</h3>
    <p>Id de la filière : {{ filiereSelected.id  }}</p>
    <p>Module(s) :</p>
  
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Libellé</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
            </tr>
        </thead>
        <tbody *ngFor="let module of modules">
            <tr>
                <td>{{ module.id }}</td>
                <td>{{ module.libelle }}</td>
                <td>{{ module.dateDebut }}</td>
                <td>{{ module.dateFin }}</td>
            </tr>
        </tbody>
    </table>
</div>