<nav>
    <ul>
      <li><a [routerLink]="['/filiere/affichage']" routerLinkActive="active">affichage des filières et recherche</a></li>
      <li><a [routerLink]="['/filiere/enregistrement']" routerLinkActive="active">enregistrement d'une filière</a></li>
      <li><a [routerLink]="['/filiere/modification']" routerLinkActive="active">modification d'une filière</a></li>
      <li><a [routerLink]="['/filiere/suppression']" routerLinkActive="active">suppression d'un filière</a></li>
    </ul>

    <ul>
      <li><a [routerLink]="['/module/affichage']" routerLinkActive="active">affichage des modules et recherche</a></li>
      <li><a [routerLink]="['/module/enregistrement']" routerLinkActive="active">enregistrement d'un module</a></li>
      <li><a [routerLink]="['/module/modification']" routerLinkActive="active">modification d'un module</a></li>
      <li><a [routerLink]="['/module/suppression']" routerLinkActive="active">suppression d'un module</a></li>
      
    </ul>
  </nav>

<!-- <filiere></filiere>
<post-filiere></post-filiere>
<update-filiere></update-filiere>
<delete-filiere></delete-filiere> -->

<router-outlet></router-outlet> 
