<form (submit)="handleSubmit()" #form="ngForm">
    <label>Update</label>
    <input #libelle="ngModel" name="id" type="number" [(ngModel)]="module.id"/>
    <input #libelle="ngModel" required name="libelle" type="text" [(ngModel)]="module.libelle"/>
    <input #libelle="ngModel" name="libelle" type="text" [(ngModel)]="module.dateDebut"/>
    <input #libelle="ngModel" name="libelle" type="text" [(ngModel)]="module.dateFin"/>
    <input #libelle="ngModel" name="libelle" type="text" [(ngModel)]="module.filiere_id"/>
    <input #libelle="ngModel" name="libelle" type="text" [(ngModel)]="module.personne_id"/>
    <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">Invalid</span><br>
    <button [disabled]="form.invalid">Modifier</button>
</form>