<form (submit)="handleSubmit()" #form="ngForm">
    <label>Update</label>
    <input #libelle="ngModel" required name="id" type="number" [(ngModel)]="filiere.id"/>
    <input #libelle="ngModel" required name="libelle" type="text" [(ngModel)]="filiere.libelle"/>
    <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">Invalid</span><br>
    <button [disabled]="form.invalid">Modifier</button>
</form>